[Unit]
Description=websockify proxy for x11vnc_{{ XServiceName }}
Requires=x11vnc_{{ XServiceName }}.service
After=x11vnc_{{ XServiceName }}.service
StopWhenUnneeded=true

[Service]
ExecStart=/usr/bin/websockify 610{{ XServiceDisplayNumber }} localhost:590{{ XServiceDisplayNumber }}
User={{ ansible_user_id }}

[Install]
