[Unit]
Description={{ XServiceName }}
Requires=Xvfb_{{ XServiceName }}.service x11vnc_{{ XServiceName }}.service
After=Xvfb_{{ XServiceName }}.service x11vnc_{{ XServiceName }}.service

[Service]
Environment="DISPLAY=:{{ XServiceDisplayNumber }}"
ExecStart={{ XServiceExec }}
User={{ ansible_user_id }}

[Install]
